# Virtual environment
.venv
venv/
env/

# IDE
.idea
.vscode

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Package build
*.egg-info/
*.egg
dist/
build/

# Logs
logs/
*.log

# Testing
.pytest_cache/
.coverage
htmlcov/

# OS files
.DS_Store
Thumbs.db